
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px;}
.row{
	width:100%;
	padding:3px 0;
}

input[name="keyword"]{padding:6px;}
.btn_search{padding:6px;}

.result ul.rq_list{padding:0;margin:0;}
.result .rq_list li{list-style-type:none;}
.result .rq_list li[stype="index"]{padding:4px;border:1px solid #ccc;background-color:#e0ffed;cursor:pointer;}
.result .rq_list li[stype="index"] .uid{font-weight: bold;color:#00f;}
.result .rq_list li[stype="index"] .track_id{background-color:rgba(0, 31, 255, 0.54);color:#fff;border-radius:6px;padding:3px;}
.result .rq_list li[stype="index"] .method{background-color:#ff3333;color:#fff;border-radius:6px;padding:3px;}
.result .rq_list li[stype="index"] .uri{font-weight: bold;color:#c10000;}


.result .rq_list li[stype="index"]:hover{background-color:#ffffe0;}

.result .rq_list li[stype="content"]{padding:6px;background-color:#f9f8ff;word-break:break-all;}
.result .rq_list li[stype="content"] .uid{letter-spacing: 3px;color: #2900ff;}
.result .rq_list li[stype="content"] .uid .nbs{color:#fff;background-color:#028000;padding:3px;border-radius:6px;font-family: monospace;font-weight:bold;}
.result .rq_list li[stype="content"] .method{background-color:#00983d;color:#fff;padding:6px;border-radius:6px;}
.result .rq_list li[stype="content"] .link_text{padding:6px;width:50%;border-radius:4px;}
.result .rq_list li[stype="content"] .endpoint{padding:6px;width:50%;border-radius:4px;}

.result .rq_list li[stype="content"] textarea{padding:3px;width:100%;overflow-y:auto;background-color:#fdfdfd;}
.result .rq_list li[stype="content"] textarea:hover{background-color:#fefff4;}

.btn_close{padding:6px;border:1px solid #ccc;font-size:12pt;background-color:#ff2c2c;color:#fff;cursor:pointer;}
.btn_rq_again{padding:6px;border:1px solid #24b500;font-size:12pt;background-color:#00b11e;color:#fff;cursor:pointer;}
.btn_rq_just{padding:6px;border:1px solid #00d3db;font-size:12pt;background-color:#b4e4ff;color:#000;cursor:pointer;}

@media screen and (min-width: 300px) {
	body{font-size:18pt;}
   .row{
		width:100%;
		padding:3px 0;
	}
	.result .rq_list li{margin:8px 0;}
}
@media screen and (min-width: 1366px) {
	html,body{height:100%;font-size:15pt;}
}