.error_log_list{}
.error_log_list .error_log_unit{}
.error_log_list .error_log_unit .date{color:#ccc;font-style:italic;}
.error_log_list .error_log_unit .time{color:#ce0000;font-weight:bold;}
.error_log_list .error_log_unit .reason{color:#22b100;font-weight:bold;}

.error_log_less_2min{
	font-weight: bold;
    background-color: #15c300;
    padding: 3px;
    color: #fff;
}
.error_log_over_2min{
	font-weight: bold;
    background-color: #d80000;
    padding: 3px;
    color: #fff;
}